# Пользовательское взаимодействие с карточками Яндекс.Дзен

In [2]:
import pandas as pd
from sqlalchemy import create_engine

Пишем скрипт пайплайна:

In [3]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

Формируем SQL-запрос:

In [4]:
query = 'SELECT * FROM dash_visits'

In [5]:
dash_visits = pd.io.sql.read_sql(query, con = engine)

Что представляет собой срез:

In [6]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [7]:
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [8]:
dash_visits.describe()

          record_id        visits
count  3.074500e+04  30745.000000
mean   1.055969e+06     10.089673
std    8.875461e+03     19.727601
min    1.040597e+06      1.000000
25%    1.048283e+06      1.000000
50%    1.055969e+06      3.000000
75%    1.063655e+06     10.000000
max    1.071341e+06    371.000000

In [16]:
dash_visits.groupby('item_topic')['visits'].sum().sort_values(ascending=False)  #уникальные категории

item_topic
Наука                 21736
Отношения             20666
Интересные факты      19942
Общество              19640
Подборки              17772
Россия                16966
Полезные советы       15435
История               15389
Семья                 11897
Женщины               11499
Дети                  10989
Рассказы              10909
Здоровье              10399
Деньги                10291
Культура              10205
Красота                9814
Туризм                 9512
Юмор                   9398
Скандалы               9294
Путешествия            9260
Искусство              8516
Психология             8036
Женская психология     7737
Шоу                    7511
Знаменитости           7394
Name: visits, dtype: int64

In [18]:
21736+20666+19942

62344

In [19]:
62344/310207

0.20097547766491408

In [17]:
dash_visits.groupby('source_topic')['visits'].sum().sort_values(ascending=False) #уникальные источники тем

source_topic
Семейные отношения    33309
Россия                29831
Полезные советы       27412
Путешествия           24124
Знаменитости          23945
Кино                  20084
Дети                  15243
История               14628
Семья                 13896
Здоровье              12831
Одежда                11895
Авто                   9567
Искусство              8001
Сад и дача             7470
Политика               7341
Еда                    6892
Сделай сам             6287
Психология             5730
Ремонт                 5699
Спорт                  5253
Деньги                 5157
Интерьеры              3614
Технологии             3501
Строительство          3000
Музыка                 2869
Финансы                2628
Name: visits, dtype: int64

Какие возррастные категории вошли в срез:

In [11]:
dash_visits.groupby('age_segment')['visits'].count().sort_values(ascending=False)

age_segment
18-25    7056
26-30    5875
31-35    5552
36-40    5105
41-45    3903
45+      3254
Name: visits, dtype: int64

Определеяем временной период, вошедший в срез:

In [12]:
dash_visits['dt'].min()

Timestamp('2019-09-24 18:28:00')

In [13]:
dash_visits['dt'].max()

Timestamp('2019-09-24 19:00:00')

 Сохраняем таблицу в рабочую папку в формате csv:

In [14]:
dash_visits.to_csv('dash_visits.csv', index = False)

In [15]:
dash_visits['visits'].sum()

310207